.jobsity-calendar-container {
  text-align: center;
}

.day-box {
  overflow: scroll;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.DayPicker-Day {
  border: 1px solid;
}

.date-buttons-row {
  justify-content: space-between;
}

.date-reminders-container {
  overflow: scroll;
  max-width: 100px;
  max-height: 100px;
  display: block;
  text-align: left;
}

.calendar-icon {
  color: #3f51b5;
  cursor: pointer;
  width: 14px;
  vertical-align: middle;
}

.clear-date-label {
  font-size: 12px;
  color: #8b9898;
  margin-left: 15px;
  cursor: pointer;
}

.clear-icon {
  color: #8b9898;
}
.date-title {
  border-radius: 4px;
  outline: none;
  padding: 5px;
  margin: 2px 0;
  font-size: 12px;
  display: inline-block;
  color: #000;
  min-width: 90px;
}

.DayPicker-Day {
  padding: 0.3em;
}

.DayPicker-Day.DayPicker-Day--today .date-reminders-container {
  color: #000;
  font-weight: 400;
}

.red {
  background: rgb(252, 83, 53);
  border-color: rgb(252, 83, 53);
}

.yellow {
  background: rgb(241, 245, 45);
  border-color: rgb(241, 245, 45);
}

.green {
  background: rgb(77, 228, 39);
  border-color: rgb(77, 228, 39);
}
